<img src="/assets/img/ds.jpg" alt="Dharmesh Savaliya">
<ul>
    <a (click)="goToAnchor('home')">
      <i class="fa fa-home" aria-hidden="true"></i> Home
    </a>
</ul>
<ul>
    <a (click)="goToAnchor('personal')">
      <i class="fa fa-address-card-o" aria-hidden="true"></i> Personal
    </a>
</ul>
<ul>
    <a (click)="goToAnchor('professional')">
      <i class="fa fa-briefcase" aria-hidden="true"></i> Professional
    </a>
</ul>
<ul>
    <a (click)="goToAnchor('education')">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education
    </a>
</ul>