<h3>Personal Details</h3>
<div class='row'>
  <div class="col-2"></div>
  <div class="col-6 card card-data">
    <label>Name :- {{personalDetails.name}} </label> <br>
    <label>Email :- {{personalDetails.email}} </label> <br>
    <label>Mo :- {{personalDetails.mob}} </label> <br>
  </div>
</div>
<br>
<div class="row">
  <div class="col-2"></div>
  <div class="col-6 card">
      <label>Add :- {{personalDetails.add}} </label> <br>
      <label>City :- {{personalDetails.city}} </label> <br>
      <label>State :- {{personalDetails.state}} </label> <br>
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
</div>